
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error404</title>
</head>
<body>
    <div> 
        <h3>Ressouce indisponible. Pour revenir à l'accueil cliquez @Html.ActionLink("ici", "Index", "Login")</h3>
    </div>
</body>
</html>
