@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erreur</title>
</head>
<body>
    <div>
    <h2>Une s'est produite. </h2>
        <br/>
        Pour revenir à l'accueil cliquze <h4>@Html.ActionLink("ici", "Index","Login")</h4>
    </div>
</body>
</html>
